.card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;

	padding: 12px;
	border-radius: 4px;
	border: 2px solid var(--color-border);
	background-color: var(--color-surface);

	&:hover {
		border-color: var(--color-text-muted);
	}
	&.highlighted {
		border-color: var(--color-accent);
	}
	&:active {
		background-color: var(--color-bg);
	}
}
