.card {
	padding: 1rem;
	border-radius: 8px;
	border: 2px solid var(--color-border-strong);
	background: var(--color-surface);

	&:hover {
		border-color: var(--color-text-muted);
	}
	&.highlighted {
		border-color: var(--color-accent);
	}
	&:active {
		background-color: var(--color-bg);
	}
}
